# Setup fzf
# ---------
if [[ ! "$PATH" == *{{ homebrew_prefix }}/opt/fzf/bin* ]]; then
    export PATH="${PATH:+${PATH}:}{{ homebrew_prefix }}/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "{{ homebrew_prefix }}/opt/fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "{{ homebrew_prefix }}/opt/fzf/shell/key-bindings.zsh"
