
# MacOS
.DS_Store

# vim
[._]*.swp

# Python pyenv
.python-version

BitBar_Plugins/disabled

# to ignore my_vars.yml,my_ansible.cfg etc..
my_*.*

# this is created on the fly due to password store limitation
group_vars/all/openvpn.yml
