ansible==2.9.13
ansible-lint==4.2.0
ansible-modules-hashivault==4.5.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==3.3.2
hvac==0.10.4
idna==2.8
Jinja2==2.11.1
kaptan==0.5.12
libtmux==0.8.2
MarkupSafe==1.1.1
powerline-status==2.7
pycparser==2.19
PyYAML==5.3
requests==2.22.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.14.0
tmuxp==1.5.4
urllib3==1.25.8
