[user]
        name = {{ github_name }}
        email = {{ github_email }}

        # gpg --list-secret-keys --keyid-format LONG
        # sec   rsa4096/6BB79E0176752876
        #
        # test by running:
        # echo "test" | gpg --clearsign
        signingkey = {{ github_signingkey }}
[init]
       # configure the initial branch name to use in all of your new repositories
       defaultBranch = master


[includeIf "gitdir:~src/{{ github_work_organization }}/"]
    path = ~/src/{{ github_work_organization }}/.gitconfig

[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        dsf = diff --color

[core]
        excludesfile = ~/.gitignore_global
        #hookspath =  ~/.githooks
        pager = diff-so-fancy | less --tabs=4 -RFX
        sshCommand = /usr/bin/ssh -i ~/.ssh/id_ed25519_ngpersonal

[commit]
	gpgsign = true

[gpg]
	program = /usr/local/MacGPG2/bin/gpg

[hub]
	protocol = https

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff "sopsdiffer"]
	textconv = sops -d

[diff]
        tool = vimdiff

[pager]
       dsf = diff-so-fancy | less --tabs=4 -RFXS

[interactive]
       diffFilter = diff-so-fancy --patch
