[{{ saml2aws_profile_name }}]
app_id               =
url                  = {{ saml2aws_url }}
username             = {{ saml2aws_username }}
provider             = {{ saml2aws_provider }}
mfa                  = {{ saml2aws_mfa }}
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = {{ saml2aws_aws_profile }}
resource_id          =
subdomain            =
role_arn             =
region               =
http_attempts_count  =
http_retry_delay     =
