
live_config_reload: true

scrolling:
    history: 15000
    multiplier: 3

selection:
    #semantic_escape_chars: ",│`|:\"' ()[]{}<>"
    semantic_escape_chars: '|:"'' {}()[]<>'
    save_to_clipboard: true

window:
  opacity: 0.85
  dynamic_title: true
  padding:
    x: 10
    y: 5
  # Values for `decorations` (macOS only):
  #     - transparent: Title bar, transparent background and title bar buttons
  #     - buttonless: Title bar, transparent background, but no title bar buttons
  decorations: none

  # When true, alacritty starts maximized.
  startup_mode: Maximized

mouse:
  double_click: { threshold: 300 }
  triple_click: { threshold: 300 }
  # If this is `true`, the cursor is temporarily hidden when typing.
  hide_when_typing: true

bell:
  animation: EaseOutExpo
  duration: 0
  color: '0xffffff'

font:
  size: 15.0
  # use_thin_strokes: true
  normal:
    family: "Hack Nerd Font Mono"
    style: Regular
  bold:
    family: "Hack Nerd Font Mono"
    style: Bold
  italic:
    family: "Hack Nerd Font Mono"
    style: Italic
  bold_italic:
    family: "Hack Nerd Font Mono"
    style: Bold Italic

draw_bold_text_with_bright_colors: true

# https://github.com/alacritty/alacritty-theme
# TokyoNight Alacritty Colors
colors:
  # Default colors
  primary:
    # background: '0x1a1b26'
    # foreground: '0xc0caf5'
    background: '0x000000'
    foreground: '0x04a24d'

  # Normal colors
  normal:
    black:   '0x15161E'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xa9b1d6'

  # Bright colors
  bright:
    black:   '0x414868'
    red:     '0xf7768e'
    green:   '0x9ece6a'
    yellow:  '0xe0af68'
    blue:    '0x7aa2f7'
    magenta: '0xbb9af7'
    cyan:    '0x7dcfff'
    white:   '0xc0caf5'

  indexed_colors:
    - { index: 16, color: '0xff9e64' }
    - { index: 17, color: '0xdb4b4b' }

cursor:
  style: Block
  unfocused_hollow: true

key_bindings:
  - { key: N,      mods: Command,         action: SpawnNewInstance }
  - { key: Q,      mods: Command,         action: Quit             }
  - { key: W,      mods: Command,         action: Quit             }
  - { key: F,      mods: Command|Control, action: ToggleFullscreen }
  - { key: Paste,                         action: Paste            }
  - { key: Copy,                          action: Copy             }

debug:
  # Display the time it takes to redraw each frame.
  render_timer: false
  # Keep the log file after quitting Alacritty.
  persistent_logging: false
