---
- block:
    - name: git | Create {{ home_dir }}/{{ item }} dir
      file:
        path: "{{ home_dir }}/{{ item }}"
        state: directory
        mode: 0700
        owner: "{{ user }}"
        group: "{{ group }}"
      loop:
        - "src"
        - "src/{{ github_work_organization }}"

    - name: git | Create {{ home_dir }}/.{{ item }}
      copy:
        src: "{{ item }}"
        dest: "{{ home_dir }}/.{{ item }}"
        mode: 0644
        owner: "{{ user }}"
        group: "{{ group }}"
      loop:
        - "gitignore_global"
        - "gitattributes"

    - name: git | Deploy {{ home_dir }}/src/{{ github_work_organization }}/.gitconfig
      template:
        src: "github_work_organization_gitconfig.j2"
        dest: "{{ home_dir }}/src/{{ github_work_organization }}/.gitconfig"
        mode: 0644
        owner: "{{ user }}"
        group: "{{ group }}"

    - name: git | Deploy {{ home_dir }}/.gitconfig
      template:
        src: gitconfig.j2
        dest: "{{ home_dir }}/.gitconfig"
        mode: 0644
        owner: "{{ user }}"
        group: "{{ group }}"

    - name: git | Install git packages
      homebrew:
        name: "{{ item }}"
        state: "present"
      loop:
        - "git"
        - "git-extras"
        - "git-lfs" # https://git-lfs.github.com
        - "hub" # Github cli
      tags: brew
      when: install_packages | d() | bool
  tags: git
