#############################
### Security Tool Aliases ###
#############################

{% if ansible_distribution == "MacOSX" %}
### MacOS
# Don't use NetCat BSD Version but the Homebrew version
alias nc=/opt/homebrew/bin/nc
{% endif %}
