---
- block:
    - name: terraform | brew tap sigsegv13/tgenv
      homebrew_tap:
        name: sigsegv13/tgenv
        state: present

    - name: terraform | Install Terraform relevant packages # noqa 403 (Package installs should not use latest)
      homebrew:
        name: "{{ item.pkg_name }}"
        state: "latest"
        install_options: "{{ item.install_options | default(omit) }}"
      when: install_packages | d() | bool
      loop:
        - { pkg_name: "tfenv" }
        - { pkg_name: "tgenv" }
      tags: brew

    - name: terraform | Create ~/.tfenv directory
      file:
        path: "~/.tfenv"
        state: directory
        mode: 0755
        owner: "{{ user }}"
        group: "{{ group }}"

    # tfenv will verify the download against Hashicorp's published sha256 hash using gpg
    - name: terraform | Deploy ~/.tfenv/use-gpgv
      copy:
        content: "trust-tfenv: yes"
        dest: ~/.tfenv/use-gpgv
        mode: 0400

    - name: terraform | Install Terraform environments
      command: "/usr/local/bin/tfenv install {{ item }}"
      loop:
        - "latest"
        - "latest:^0.11"
        - "latest:^0.12"
      register: cmd_result
      changed_when: '"already installed" not in cmd_result.stdout'

    - name: terraform | Install Terragrunt
      command: "/usr/local/bin/tgenv install latest"
      register: cmd_result
      changed_when: '"already installed" not in cmd_result.stdout'

    #   # https://github.com/gruntwork-io/gruntwork-installer/releases
    # - name: terraform | Install gruntwork-installer
    #   shell: "curl -LsS https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/master/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version v0.0.24"
    #
    #   # https://github.com/gruntwork-io/kubergrunt/releases
    # - name: terraform | Install kubergrunt
    #   shell: "gruntwork-install --binary-name kubergrunt --repo https://github.com/gruntwork-io/kubergrunt --tag v0.5.8"

  when: run_terraform | d() | bool
  tags: terraform
