---
- block:
    - name: backup | Deploy backup scripts
      template:
        src: "{{ item }}.j2"
        dest: "/usr/local/bin/{{ item }}"
        mode: 0755
      loop:
        - "ng_backup_all.sh"
        - "ng_backup_history.sh"
      become: yes
      become_method: sudo
  tags: backup
