#
# http://tmuxp.git-pull.com/en/latest/examples.html#examples
#
session_name: DevOps
start_directory: ~/
#global_options:
  #default-shell: /bin/sh
  #default-command: /bin/sh
#before_script: ./.tmuxp-before-script.sh
#shell_command_before:
#- '[ -f .venv/bin/activate ] && source .venv/bin/activate && reset'
#environment:
#  VAULT_ADDR=http://127.0.0.1:8200
#  VAULT_UNSEAL_KEY=YYY
#  VAULT_ROOT_TOKEN=XXX
windows:
  - window_name: Ansible
    start_directory: ~/src/{{ github_work_organization }}/NGAnsible/
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
  - window_name: Terraform
    start_directory: ~/src/{{ github_work_organization }}/NGTErraform
    panes:
      - shell_command:
        - gst
  - window_name: Dot
    start_directory: ~/src/nicolas-g/dotfiles
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
  - window_name: Wiki
    start_directory: ~/src/nicolas-g/wiki
    panes:
      - shell_command:
        - gst
  - window_name: Ansible-k8s
    start_directory: ~/src/{{ github_work_organization }}/Ansible-k8s
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
        - kubeon
  - window_name: Scratch
    layout: main-horizontal
    start_directory: ~/
    focus: true
    panes:
      - focus: True
      - shell_command: curl rate.sx/\?n=25
      - shell_command: pianobar
    window_index: 9
    options:
      main-pane-height: 35
    options_after:
      synchronize-panes: off
