#
# http://tmuxp.git-pull.com/en/latest/examples.html#examples
#
session_name: DevOps
#environment:
#  VAULT_ADDR=http://127.0.0.1:8200
#  VAULT_UNSEAL_KEY=YYY
#  VAULT_ROOT_TOKEN=XXX
windows:
  - window_name: Ansible
    start_directory: ~/src/{{ github_work_organization }}/NGAnsible/
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
  - window_name: Terraform
    start_directory: ~/src/{{ github_work_organization }}/NGTErraform
    panes:
      - shell_command:
        - gst
  - window_name: Dotfiles
    start_directory: ~/src/nicolas-g/dotfiles
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
  - window_name: wiki
    start_directory: ~/src/nicolas-g/wiki
    panes:
      - shell_command:
        - gst
  - window_name: Ansible-k8s
    start_directory: ~/src/{{ github_work_organization }}/Ansible-k8s
    panes:
      - shell_command:
        - gst
        - unset PYENV_VERSION
        -  kubeon
  - window_name: Music
    shell_command_before: pianobar
    focus: true
    panes:
      - blank
