<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>Label</key>
  <string>com.hashicorp.vault.Startup-1.0</string>
  <key>Program</key>
  <string>/usr/local/bin/vault server -config /keybase/private/nnicolasg7/hvault/config.hcl</string>

  <key>ProgramArguments</key>
  <array>
   <string>/Library/Application Support/Adobe/OOBE/PDApp/UWA/UpdaterStartupUtility</string>
   <string>-mode=logon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>LaunchOnlyOnce</key>
  <true/>
 </dict>
</plist>
