ui = true
max_lease_ttl = "10h"
default_lease_ttl = "10h"

# Supported log levels: Trace, Debug, Error, Warn, Info.
log_level = "info"

listener "tcp" {
  address = "127.0.0.1:8200"
  tls_disable = 1
}

storage "file" {
  path = "{{ vault_config_dir }}/data"
}

# https://www.vaultproject.io/docs/configuration/telemetry.html#prometheus
#telemetry {
# statsite_address = "127.0.0.1:8125"
# disable_hostname = true
#}
