colors:
  body: none
  date: none
  tags: none
  title: none
default_hour: 9
default_minute: 0
editor: lvim -c startinsert
encrypt: true
highlight: true
indent_character: '|'
journals:
  default: "{{ jrnl_data_dir }}/default.txt"
linewrap: 79
tagsymbols: '#@'
template: false
timeformat: '%Y-%m-%d %H:%M'
version: v4.1
