#
# https://github.com/PromyLOPh/pianobar/blob/master/contrib/config-example
#

user = {{ lookup('community.general.passwordstore', 'dotfiles/pandora_user') }}
password = {{ lookup('community.general.passwordstore', 'dotfiles/pandora_password') }}
# or
# password_command = gpg --decrypt ~/password

audio_quality = high
