###############
### Aliases ###
###############

# http://marc-abramowitz.com/archives/2011/10/17/easy-access-to-truecrypt-from-the-command-line-in-os-x/
alias truecrypt='/Applications/TrueCrypt.app/Contents/MacOS/Truecrypt --text'

# Filesystem
alias ..='cd ..'               	# Go up one directory
alias ...='cd ../..'        	# Go up two directories
alias ....='cd ../../..'    	# And for good measure
alias ll='ls -lhG'  		# -l long listing, human readable, no group info
alias tu='top -o cpu'   	# sorted by cpu
alias tm='top -o vsize' 	# sorted by memory
alias top="sudo htop"
alias cat='bat -up --paging never'
alias ping='prettyping --nolegend'
alias vi='vim'
{% if ansible_distribution == "MacOSX" %}
alias sed='/usr/local/bin/gsed'
{% endif %}
alias fzf_preview="fzf --preview 'head -100 {}'"
alias fzf_grep='grep --line-buffered --color=never -r "" * | fzf'
# with ag - respects .agignore and .gitignore
alias fzf_ag='ag --nobreak --nonumbers --noheading . | fzf'

# K8s
alias ksys="kubectl -n kube-system"
alias k="kubectl"
alias kap='kubectl apply -f'
alias kg='kubectl get'
alias kl='kubectl logs '
alias kx='kubectl exec -i -t'
alias kctx="kubectx"
alias kns="kubens"

### Nifty extras
alias ng_tmux_devops='cd ; tmux attach -t DevOps || tmuxp load ~/.tmux/devops_session.yml'
alias ng_pyservethis="python -c 'import SimpleHTTPServer; SimpleHTTPServer.test()'"

### Hashicorp Vault
alias ng_hv-server-start="vault server -config /keybase/private/nicolasg7/hvault/config.hcl &"
alias ng_hv-server-kill="pkill vault"

##### curl for useragents
alias curlie="curl -H \"User-Agent: Mozilla/5.0 (Windows; U; MSIE 6.0; Windows NT 5.1; SV1; .NET CLR 2.0.50727)\""
alias curlff="curl -H \"User-Agent: Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.0.8) Gecko/2009032609 Firefox/3.0.0 (.NET CLR 3.5.30729)\""

alias sshtunnel='
echo "### Local port forwarding ###"
echo "# forward connections from my local <local-port> to <target-machine>:<remote-port> through <jump-host> server"
echo "ssh -N -L <local-port>:<target-machine>:<remote-port> <jump-host>"
echo "-f \ Forks the process to the background"
echo "-N \ do not execute remote command "
echo "-n \ redirect stdin from /dev/null "
echo "\n### Remote port forwarding ###"
echo "# port on which th remote server will listen forward connections to my local machine"
echo "ssh -R <remote-port>:localhost:<local-port> <jump-host>"'

### Git
alias g=git
alias ga='git add'
alias gb='git branch'
alias gdmb="git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
alias gba='git branch -a'
alias gc='git commit -v'
alias gcnv='git commit --no-verify'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gdm='git diff master'
alias gpul='git pull'
alias gl="git log --oneline --decorate --color"
alias gp='git push'
alias gst='git status'
alias gnuke="git clean -df && git reset --hard"
alias glNoGraph='git log --color=always --format="%C(auto)%h%d %s %C(black)%C(bold)%cr% C(auto)%an" "$@"'
_gitLogLineToHash="echo {} | grep -o '[a-f0-9]\{7\}' | head -1"
_viewGitLogLine="$_gitLogLineToHash | xargs -I % sh -c 'git show --color=always % | diff-so-fancy'"


# HG ALIASES
alias hgst='hg status'
alias hgd='hg diff | $GIT_EDITOR -'
alias hgo='hg outgoing'

alias preview="fzf --preview 'bat --color \"always\" {}'"
# add support for ctrl+o to open selected file in VS Code

### Vagrant
alias v="vagrant global-status"
alias vup="vagrant up"
alias vhalt="vagrant halt"
alias vssh="vagrant ssh"
alias vreload="vagrant reload"
alias vrebuild="vagrant destroy --force && vagrant up"

### OSX
{% if ansible_distribution == "MacOSX" %}
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
{% endif %}

alias run-terraform="~/src/{{ github_work_organization }}/NGTerraform/bin/run-terraform"
alias terraform-resource-update.sh="~/src/{{ github_work_organization }}/NGTerraform/bin/terraform-resource-update.sh"
