
[xspdev] # dcimag-dq
region = us-east-1
aws_access_key_id = {{ AWSxspdev_access_key_id }}
aws_secret_access_key = {{ AWSxspdev_secret_access_key }}

[xspprod] # dcimag-prod
region = us-east-1
aws_access_key_id = {{ AWSxspprod_access_key_id }}
aws_secret_access_key = {{ AWSxspprod_secret_access_key }}

[xspsb] # sandbox
aws_access_key_id = {{ AWSxspsb_access_key_id }}
aws_secret_access_key = {{ AWSxspsb_secret_access_key }}

[xspstg] # Staging
aws_access_key_id = {{ AWSxspstg_access_key_id }}
aws_secret_access_key = {{ AWSxspstg_secret_access_key }}
