contexts:
  default:
    type: APIKey
    name: default
    url: 'https://g.codefresh.io'
    token: {{ lookup('community.general.passwordstore', 'codefresh_api_key')}}
    beta: false
    onPrem: false
current-context: default
