#
# https://github.com/PromyLOPh/pianobar/blob/master/contrib/config-example
#

user = {{ PANDORA_USER_NAME }}
password = {{ PANDORA_USER_PASSWORD }}
# or
# password_command = gpg --decrypt ~/password

audio_quality = high
