####################
### Base Aliases ###
####################

### Nifty extras
alias ng_tmux_devops='cd ; tmux attach -t DevOps || ~/.pyenv/versions/{{ python_version }}/envs/dotfiles/bin/tmuxp load ~/.tmux/devops_session.yml'
alias ng_pyservethis="python -c 'import SimpleHTTPServer; SimpleHTTPServer.test()'"

# Filesystem
alias ..='cd ..'               	# Go up one directory
alias ...='cd ../..'        	# Go up two directories
alias ....='cd ../../..'    	# And for good measure
alias tu='top -o cpu'   	# sorted by cpu
alias tm='top -o vsize' 	# sorted by memory
alias top="sudo htop"
alias ping='prettyping --nolegend'
alias vi='vim'
{% if ansible_distribution == "MacOSX" %}
alias sed='{{ homebrew_prefix }}/bin/gsed'
{% endif %}
alias fzf_preview="fzf --preview 'bat --color=always {}' --bind shift-up:preview-page-up,shift-down:preview-page-down"

alias fzf_grep='grep --line-buffered --color=never -r "" * | fzf'
# with ag - respects .agignore and .gitignore
alias fzf_ag='ag --nobreak --nonumbers --noheading . | fzf'

alias preview="fzf --preview 'bat --color \"always\" {}'"
# add support for ctrl+o to open selected file in VS Code

# https://termbin.com/
# cat ~/some_file.txt | nc termbin.com 9999
# ls -la | nc termbin.com 9999
# echo less typing now! | tb
alias tb="nc termbin.com 9999"

### OSX
{% if ansible_distribution == "MacOSX" %}
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
{% endif %}

### Terraform
alias tf="terraform"
alias run-terraform="~/src/{{ github_work_organization }}/NGTerraform/bin/run-terraform"
alias terraform-resource-update.sh="~/src/{{ github_work_organization }}/NGTerraform/bin/terraform-resource-update.sh"

function note {
  # Check if target directory exists
  if ! [ -f {{ personal_notes_location }} ]; then
    echo "\e[31mFAIL: Target directory {{ personal_notes_location }} does not exist! \e[0m"
    return 1  # Exit the function with an error code
  fi

  # Append date and the note to file
  echo "" >> ~/src/wiki/0_Projects/ParkingLot.md
  echo "### date: $(date)" >> ~/src/wiki/0_Projects/ParkingLot.md
  echo "- $@" >>  ~/src/wiki/0_Projects/ParkingLot.md
}
